<div class="hero is-fullheight is-flex is-align-items-center is-justify-content-center">
  <div class="hero-body">
    <div class="container">
      <div class="card">
        <div class="card-content m-6">
          <h1 class="title is-3 has-text-centered">Order Confirmation</h1>

          <h2 class="title is-4">Customer Information</h2>
          <p class="has-text-black"><strong>Street Address:</strong> <%= @customer.street_address %></p>
          <p class="has-text-black"><strong>City:</strong> <%= @customer.city %></p>
          <p class="has-text-black"><strong>Province:</strong> <%= @customer.province %></p>
          <p class="has-text-black"><strong>Postal Code:</strong> <%= @customer.postal_code %></p>

          <h2 class="title is-4 mt-4">Order Summary</h2>
          <% if @cart_items.present? %>
            <ul>
              <% @cart_items.each do |entry| %>
                <li class="has-text-black">
                  <%= entry[:product].name %> - Quantity: <%= entry[:quantity] %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p>Your cart is empty.</p>
          <% end %>

          <h2 class="title is-4 mt-4">Subtotal: <%= number_to_currency(@total_price) %></h2>
          <h2 class="title is-4">Tax at <%= @province_tax_rate ? @province_tax_rate * 100 : "N/A" %>%: <%= number_to_currency(@tax) %></h2>
          <h2 class="title is-4">Total: <%= number_to_currency(@grand_total) %></h2>
        </div>
      </div>
    </div>
  </div>
</div>
