<div class="column is-one-fifth">
  <div class="card fixed-size">
    <div class="element has-text-centered">
      <div class="bubble">
        <span class="tag is-warning m-3"><%= product.category.name %></span>
      </div>
    </div>
    <%= link_to product_path(product), class: 'card-link' do %>
      <% if product.image.attached? %>
        <div class="card-image">
          <figure class="image is-1by1">
            <%= image_tag(product.image, alt: "Product Image", class: "is-rounded") %>
          </figure>
        </div>
      <% end %>
    <% end %>

    <div class="card-content has-text-centered">
      <p class="title is-5 mb-1">
        <%= product.name %>
      </p>
      <p class="subtitle is-6 m-3">
        <strong><%= product.price %>$</strong>
      </p>
      <% if session[:cart]&.key?(product.id.to_s) %>
        <%= button_to cart_path(product), class: "button red-wine-button", method: :delete do %>
          Remove from cart
        <% end %>
      <% else %>
        <%= form_with url: cart_index_path, method: :post, local: true do %>
          <%= hidden_field_tag :id, product.id %>
          <%= button_tag "Add to cart", class: "button green-button" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
