<div class="columns mt-3 ml-6">
  <div class="column">
    <%= form_with(url: products_path, method: :get, local: true, id: "search-form") do %>
      <div class="field is-inline-block m-2">
        <%= label_tag :search, "Search Products:", class: "label" %>
        <%= text_field_tag :search, params[:search], class: "input", placeholder: "Search..." %>
      </div>
    <% end %>
  </div>

  <div class="column">
    <%= form_with url: filter_by_category_products_path, method: :get, local: true, id: "category-form" do %>
      <div class="field is-inline-block m-1">
        <%= label_tag :category_id, "Category:", class: "label" %>
        <%= select_tag :category_id, options_from_collection_for_select(@categories, :id, :name, params[:category_id]), include_blank: "All", class: "select" %>
      </div>
    <% end %>
  </div>
  <div class="column"></div>
  <div class="column"></div>
</div>


<div class="columns is-multiline m-6">
  <%= render partial: 'product', collection: @products, as: :product, locals: { show_link: true } %>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const categoryForm = document.getElementById("category-form");

    if (categoryForm) {
      categoryForm.addEventListener("change", function () {
        categoryForm.submit();
      });
    }
  });
</script>
